*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeIntro{
    margin-top: 30px;
    background-color: #4DA6FF;
    width: 60%;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeText{
    width: 85%;
    font-family: "Open Sans", sans-serif;
}
.homeText h1{
    font-size: 36px;
    margin-bottom: 15px;
}
.homeText p{
    font-size: 18px;
    font-weight: 500;
}
.homeCards{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;

}
.homeCard{
    margin-top: 30px;
    min-width: 375px;
    border-radius: 20px;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: solid 3px #1A73E8 ;
    overflow: hidden;
    
}
.homeCard a {
    text-decoration: none;
}
.homeTitle h1{
    display: flex;
    justify-content: center;
    height: 60px;
    font-size: 36px;
    align-items: center;
    position: relative;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.33);    
}
.homeTitle{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
    box-shadow: 0px -7.5px 7.5px rgba(0, 0, 0, 0.1);
}
.cardSpace{
    min-height: 390px;
}
.homeCard img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    object-fit: cover;
    
}
@media (max-width: 1173px) {
        .homeIntro {
        width: 80%;
    }
}
@media (max-width: 992px) {
    .homeIntro {
        width: 80%;
    }
        .homeText h1 {
        font-size: 24px;
    }

    .homeCard {
        flex-grow: 1;
        max-width: 45%;
    }
}

@media (max-width: 600px) {
    .homeIntro {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .homeText h1 {
        font-size: 28px;
    }

    .homeText p {
        font-size: 16px;
    }
}
    @media (max-width: 400px) {
        .homeCard {
        min-width: 90%;
        height: 375px;
        margin-left: 0;
        margin-right: 0;
    }
    .cardSpace{
        min-height:310px;
    }
    .homeCard img{
        width: 100%;
        height: 100%;
    
    }
}

