.pageContainer{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.registerContainer{
    background-color: #4DA6FF;
    width: 40%;
    height: 425px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registerContainer h1{
    color: #ffffff;
    font-size: 40px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerContainer form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    width: 100%;
}
.submitButton button{ 
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #1A73E8;
    margin-top: 15px;
}
.submitButton  button:hover{
    cursor: pointer;
}
.registerContainer form input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #D4EAFF;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #999999;
    padding-left: 15px;
}
.registerContainer form input::placeholder{
    color: #999999;
    font-family: "Baloo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.registerContainer form button h2{ 
    color: #ffffff;
    font-size: 30px;
    font-family: "Baloo 2", sans-serif;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerText{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
.registerText a{
    color: #ffffff;
    font-size: 14px;
}
.age-selection{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.age-selection button{
    width: 30%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A73E8;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1);
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.age-selection button:hover{
    cursor: pointer;
}
.age-selection button.active {
    background-color: #0056b3;
    color: #ffffff;
    transform: scale(1.1);
}
.department-select{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #D4EAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #999999;
    padding-left: 10px;
}
@media (max-width: 1100px) {
    .registerContainer{
        width: 55%;
    }
}
@media (max-width: 850px) {
    .registerContainer{
        width: 70%;
    }
}
@media (max-width: 600px) {
    .registerContainer{
        width: 80%;
    }
}