nav {
  width: 100%;
  height: 75px;
  background-color: #4DA6FF;
  position: relative;
  font-size: 24px;
}
nav a {
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-right: 20px;
  text-decoration: none;
}
nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.navText{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 75px;
}
.navButton{
  position: absolute;
  height: 75px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 15px;

}
.navButton button{
  background: none;
  border: none;
    cursor: pointer;
}
.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 120px;
  background-color: #198cff;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding-left: 12.5px;
  border-radius: 0px 0px 10px 0px;
}
.dropdown-menu a {
  color: #ffffff;
}

.burger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1001;
}

.burger-menu.open {
  position: fixed;
  top: 20px;
}

.burger-bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}
  .mobile-menu{
    display: none;
  }



.mobile-menu.open {
  right: 0;
}

.mobile-menu a {
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 28px;
}

@media (max-width: 700px) {
  .navText {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .navButton {
    padding-left: 15px;
  }

  .dropdown-menu {
    left: 0;
    top: 100%;
  }

  .mobile-menu a {
    font-size: 22px;
  }
  .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: #1A73E8;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 75px;
}
}
