#slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  height: 100%;
}

#slideshow-image {
  width: 100%;
  height: 100%;
}

#slideshow-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#slideshow-image iframe{
  object-fit: cover;
  width: 100%;
  height: 100%;
}