:root {
  font-family: "Baloo 2", sans-serif;
  line-height: 1.5;
  font-weight: 100;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pageContainer{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.loginContainer{
    background-color: #4DA6FF;
    width: 40%;
    height: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginContainer h1{
    color: #ffffff;
    font-size: 40px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginContainer form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    width: 100%;
}
.submitButton  button{ 
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #1A73E8;
    margin-top: 15px;;
}
.submitButton form button:hover{
    cursor: pointer;
}
.loginContainer form input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #D4EAFF;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Baloo 2", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #999999;
    padding-left: 15px;
}
.loginContainer form input::placeholder{
    color: #999999;
    font-family: "Baloo 2", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.loginContainer form button h2{ 
    color: #ffffff;
    font-size: 30px;
    font-family: "Baloo 2", sans-serif;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registerText{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}
.registerText a{
    color: #ffffff;
    position: absolute;
    font-size: 14px;
}
@media (max-width: 1100px) {
    .loginContainer{
        width: 55%;
    }
}
@media (max-width: 850px) {
    .loginContainer{
        width: 70%;
    }
}
@media (max-width: 600px) {
    .loginContainer{
        width: 80%;
    }
}